html,body {height: 100%;}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    .mat-mdc-header-row{
        background-color: #2f72c9;
        height: 40px !important;
    }

    .mat-mdc-header-row{
        height: 30px !important;
    }

    .mat-mdc-row:nth-child(even)
    {
        background-color: rgb(187, 146, 226);
        height: 30px !important;
    }
}
